<!-- _includes/clustrmaps.html -->
<div class="clustrmaps-container">
  <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=BhmnICZnhFAgjPdmEK0FyRkUe1p1RQHdLMedLKAx6-c"></script>
</div>

<style>
  .clustrmaps-container {
    position: relative;
    width: 150px; /* 调整宽度 */
    height: 150px; /* 调整高度 */
    margin-left: 20px; /* 调整水平位置 */
    margin-top: 20px; /* 调整垂直位置 */
  }

  #clstr_globe {
    width: 100%;
    height: 100%;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var globe = document.getElementById("clstr_globe");
    var container = document.getElementById("clustrmaps-container");

    function setGlobeSize() {
      globe.style.width = container.offsetWidth + "px";
      globe.style.height = container.offsetHeight + "px";
    }

    setGlobeSize(); // 初次设置大小

    window.addEventListener("resize", setGlobeSize); // 监听窗口大小变化
  });
</script>
