---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    <!-- code for ClustrMaps -->
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=BhmnICZnhFAgjPdmEK0FyRkUe1p1RQHdLMedLKAx6-c"></script>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
